a {
    text-decoration: none;
    color: blue;
}

table {
    border-collapse: collapse;
    font-size: 14px;
}


table th, table td {
    border: 1px solid #000;
    padding: 5px;
}

.result {
    font-size: 12px;
    text-align: center;
}

.servant, .result {
    width: 100%;
}

.servant tr:nth-child(1), .servant tr:last-child {
    text-align: center;
}

.showSkills {
    outline: #808080 solid thick;
    width: 50%;
    height: 80%;
    position: absolute;
    top: 5%;
    left: 25%;
    display: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: white;
}

.close {
    float: right;
    font-weight: bold;
    font-size: 46px;
    line-height: 46px;
}

#divResult {
    display: none;
}

input[type="checkbox"], select {
    vertical-align: middle;
}

.cards {
    text-align: center;
}

    .cards img {
        width: 7%;
    }

/****清除浮动*****/
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
    line-height: 0;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/**字体颜色渐变**/
.text-gradient {
    display: block;
    word-wrap: normal;
    font-weight: bold;
    font-family: helvetica;
    text-align: center;
    background: -webkit-linear-gradient(left, #4f185d, #fe5d4b); /* 背景色渐变 */
    -webkit-background-clip: text; /* 规定背景的划分区域 */
    -webkit-text-fill-color: transparent; /* 防止字体颜色覆盖 */
}

.weak,.resist,.normal{

}
.weak{
    color:red;
}
.resist{
    color:blue;
}
